
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-left-hand:before { content: '\e805'; } /* '' */
.icon-right-hand:before { content: '\e806'; } /* '' */
.icon-up-hand:before { content: '\e807'; } /* '' */
.icon-down-hand:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e80b'; } /* '' */
.icon-fast-fw:before { content: '\e80c'; } /* '' */
.icon-fast-bw:before { content: '\e80d'; } /* '' */
.icon-eject:before { content: '\e80e'; } /* '' */
.icon-hammer:before { content: '\e80f'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-hand-spock-o:before { content: '\f259'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
